<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

    <h1 *ngIf="this.data.operationMode == 'add'" mat-dialog-title>Add New List</h1>
    <h1 *ngIf="this.data.operationMode == 'edit'" mat-dialog-title>Edit List</h1>

    <div mat-dialog-content>
        <p>What's the name of the list?</p>
        <mat-form-field>
            <input matInput placeholder="Title" required formControlName="title">
        </mat-form-field>
    </div>

    <mat-dialog-actions align="end">
        <button *ngIf="this.data.operationMode == 'edit'" mat-button color="warn" (mousedown)="onDeleteClick()">Delete List</button>
        <button mat-button (mousedown)="onNoClick()">Cancel</button>
        <button *ngIf="this.data.operationMode == 'add'" mat-button color="primary" [disabled]="formGroup.invalid" (submit)="onSubmit()">Add List</button>
        <button *ngIf="this.data.operationMode == 'edit'" mat-button color="primary" [disabled]="formGroup.invalid" (submit)="onSubmit()">Save</button>
    </mat-dialog-actions>

</form>