<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

    <h1 *ngIf="this.data.operationMode == 'add'" mat-dialog-title>Add New Item</h1>
    <h1 *ngIf="this.data.operationMode == 'edit'" mat-dialog-title>Edit Item</h1>

    <div mat-dialog-content>
        <p>What's the item title and description?</p>
        <mat-form-field>
            <input matInput placeholder="Title" required formControlName="title">
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="Description" formControlName="content">
        </mat-form-field>
    </div>
    
    <mat-dialog-actions align="end">
        <button *ngIf="this.data.operationMode == 'edit'" mat-button color="warn" (mousedown)="onDeleteClick()">Delete Item</button>
        <button mat-button (mousedown)="onNoClick()">Cancel</button>
        <button *ngIf="this.data.operationMode == 'add'" mat-button color="primary" [disabled]="formGroup.invalid" (submit)="onSubmit()">Add Item</button>
        <button *ngIf="this.data.operationMode == 'edit'" mat-button color="primary" [disabled]="formGroup.invalid" (submit)="onSubmit()">Save</button>
    </mat-dialog-actions>

</form>