<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

    <h1 mat-dialog-title>Add New Item</h1>

    <div mat-dialog-content>
        <p>What's the item title and description?</p>
        <mat-form-field>
            <input matInput placeholder="Title" required formControlName="title">
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="Description" formControlName="content">
        </mat-form-field>
    </div>

    <mat-dialog-actions align="end">
        <button mat-button (mousedown)="onNoClick()">Cancel</button>
        <button mat-button color="primary" [disabled]="formGroup.invalid">Done</button>
    </mat-dialog-actions>

</form>