<poc-sidebar>

  <div class="board-container">

    <!-- List cards (within a board) -->
    <mat-card cdkDropList (cdkDropListDropped)="drop($event)" class="list-card" *ngFor="let n of numbers">

      <mat-card-title>List {{n}}</mat-card-title>
      <mat-card-content>List Description</mat-card-content>

      <!-- Items cards (within a list) -->
      <div cdkDrag class="item-card" *ngFor="let movie of movies">{{movie}}</div>
      <!-- <mat-card cdkDrag class="item-card" *ngFor="let movie of movies">
        <mat-card-content>{{movie}}</mat-card-content>
      </mat-card> -->

    </mat-card>
    
  </div>

</poc-sidebar>