<poc-sidebar (boardSwitched)='onBoardSwitch()'>

  <!-- inner toolbar for board title and add board action -->
  <mat-toolbar>
    <mat-toolbar-row>
      <span *ngIf="currentBoardId == -1">Welcome! Please select a board.</span>
      <span *ngIf="currentBoardId != -1">{{this.currentBoardTitle}}</span>
      <span class="spacer"></span>
      <!-- TODO add style -->
      <button mat-raised-button (click)="onAddListButtonClick()" *ngIf="currentBoardContent">
        <mat-icon>add</mat-icon>New List
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <!-- board selection menu, shown when board ID is -1 (aka at menu) -->
  <div *ngIf="currentBoardId == -1" class="board-selection-container">
    <div class="flex-break"></div>
    <button mat-raised-button color="primary" class="board-selection-button" *ngFor="let board of boards"
      (click)="onBoardSelect(board.id)">{{board.title}}</button>
    <button mat-raised-button class="board-selection-button" (click)="onAddBoardButtonClick()">
      <mat-icon>add</mat-icon>New Board
    </button>
  </div>

  <!-- main screen where lists within a board are displayed -->
  <div class="board-container" cdkDropList cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="onListDrop($event)">

    <!-- list cards (within a board) -->
    <div class="list-card" *ngFor="let list of currentBoardContent" cdkDropList
      (cdkDropListDropped)="onItemDrop($event)" [cdkDropListData]="list.content" id="{{list.id}}"
      [cdkDropListConnectedTo]="this.currentBoardListIds" cdkDrag cdkDragLockAxis="x">

      <mat-card-title>{{ list.title }}</mat-card-title>
      <mat-icon class="darg-handle" cdkDragHandle>open_with</mat-icon>
      <div style="height: 8px;"></div>

      <mat-card-content>
        <!-- item boxes (within a list) -->
        <div cdkDrag class="item-card" *ngFor="let item of list.content">
          {{ item.title }}
          <br><br>
          {{ item.content }}
        </div>
      </mat-card-content>

      <div style="height: 8px;"></div>

      <mat-card-actions>
        <button mat-stroked-button (click)="onAddItemButtonClick(list)" color="primary">New Item</button>
      </mat-card-actions>

    </div>

    <div style="display: inline-block; min-width: 16px;"></div>

  </div>

</poc-sidebar>