<poc-sidebar>

  <div cdkDropList cdkDropListOrientation="horizontal" class="board-container">

    <button mat-raised-button color="accent" (click)="onRefresh()">
      refresh
    </button>

    <!-- List cards (within a board) -->
    <mat-card cdkDropList cdkDrag cdkDragLockAxis="x" (cdkDropListDropped)="drop($event)" class="list-card"
      *ngFor="let list of currentBoardContent">

      <div class="darg-handle" cdkDragHandle>
        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
          <path
            d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
          </path>
          <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
      </div>

      <mat-card-title>{{ list.title }}</mat-card-title>
      <mat-card-content>List Description</mat-card-content>

      <!-- Items cards (within a list) -->
      <div cdkDrag class="item-card" *ngFor="let item of list.content">{{ item.title }}</div>
      <!-- <mat-card cdkDrag class="item-card" *ngFor="let movie of movies">
        <mat-card-content>{{movie}}</mat-card-content>
      </mat-card> -->

    </mat-card>

  </div>

</poc-sidebar>