.mat-button, 
.mat-raised-button,
.mat-flat-button, 
.mat-stroked-button { 
  border-radius: 0px; 
}

.spacer {
  flex: 1 1 auto;
}

.toolbar{
  min-height:56px;
  max-height:56px
}

.mat-sidenav {
  min-width: 300px !important;
  width: 70vw !important;
  max-width: 350px !important;
}