<mat-sidenav-container fullscreen>

    <!-- SIDEBAR -->
    <mat-sidenav #sidenav mode="over" position="end">

        <mat-toolbar color="accent">
            <span>Boards</span>
            <span class="spacer"></span>
            <button mat-raised-button color="primary" (click)="onAddBoardButtonClick()">
                <mat-icon>add</mat-icon>New Board
            </button>
        </mat-toolbar>

        <!-- Show list of boards -->
        <mat-nav-list>
            <a mat-list-item *ngFor="let board of boards" (click)="onBoardSwitch(board.id)"> {{ board.title }} </a>
        </mat-nav-list>

    </mat-sidenav>

    <!-- MAIN CONTENT -->
    <mat-sidenav-content>

        <!-- title bar -->
        <mat-toolbar color="primary">
            <span>Trello POC, built with Angular</span>
            <span class="spacer"></span>
            <button mat-stroked-button color="basic" (click)="onBoardSwitch(-1)">
                <mat-icon>home</mat-icon>Home
            </button>
            <div style="width: 10px"></div>
            <button mat-raised-button color="accent" (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>All Boards
            </button>
        </mat-toolbar>

        <!-- everything else -->
        <ng-content></ng-content>

    </mat-sidenav-content>

</mat-sidenav-container>