<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

    <h1 mat-dialog-title>Add New Board (doesn't work yet)</h1>

    <div mat-dialog-content>
        <p>What's the name of the board?</p>
        <mat-form-field>
            <input matInput placeholder="Title" required formControlName="title">
        </mat-form-field>
    </div>

    <mat-dialog-actions align="end">
        <button mat-button (mousedown)="onNoClick()">Cancel</button>
        <button mat-button color="primary" [disabled]="formGroup.invalid">Add Board</button>
    </mat-dialog-actions>

</form>