<mat-sidenav-container fullscreen>

    <!-- SIDEBAR -->
    <mat-sidenav #sidenav mode="over" (opened)="events.push('open!')" (closed)="events.push('close!')">

        <mat-toolbar color="primary">
            <span>Boards</span>
            <span class="spacer"></span>
            <button mat-raised-button color="accent" (click)="openNewBoardDialog()">
                <mat-icon>add</mat-icon>New Board
            </button>
        </mat-toolbar>

        <!-- shows how many times side bar has been open and closed -->
        <div class="example-events">
            <div *ngFor="let e of events">{{e}}</div>
        </div>

    </mat-sidenav>

    <!-- MAIN CONTENT -->
    <mat-sidenav-content>

        <!-- title bar -->
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Lists (of board ___)</span>
            <span class="spacer"></span>
            <button mat-raised-button color="accent" (click)="openNewListDialog()">
                <mat-icon>add</mat-icon>New List
            </button>
        </mat-toolbar>

        <!-- everything else -->
        <ng-content></ng-content>

    </mat-sidenav-content>

</mat-sidenav-container>